@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
  --color-body: #000;
  --color-body-text: #59e1e8;

	--font-size-larger: clamp(1.4rem, 9vw, 2.0rem);
	--font-size-large: clamp(1.4rem, 5vw, 1.8rem);
  --font-size-small: clamp(0.8rem, 4vw, 0.9rem);
}

@layer components {
  .banner::before {
    content: "";
    display: block;
    position: fixed;
    inset: 0;
    z-index: -10;
    background: url(/spc_truck_banner.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-body-text);
  background: var(--color-body);
  margin: 0;
  overscroll-behavior: none;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #E3BF7E;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: bold;
}

p {
  max-width: 80ch;
}

span {
  font-size: var(--font-size-small);
}
