@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
  --color-body: #000;
  --color-body-text: #59e1e8;

	--font-size-larger: clamp(1.6rem, 9vw, 2.2rem);
	--font-size-large: clamp(1.5rem, 5vw, 2.0rem);
  --font-size-small: clamp(0.8rem, 4vw, 0.9rem);
}

html {
  height: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  white-space: pre-wrap;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  color: var(--color-body-text);
  background: var(--color-body);
  overscroll-behavior: none;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #E3BF7E;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-larger);
  font-weight: bold;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: bold;
}

p {
  max-width: 80ch;
}

span {
  font-size: var(--font-size-small);
}

@layer components {
  .swiper-main .main-slide::before {
    position: absolute;
    content: '';
    background: rgb(0, 0, 0);
    inset: 0;
    opacity: 0.8;
    -webkit-transition: opacity 1.0s ease-out;
    -moz-transition: opacity 1.0s ease-out;
    -ms-transition: opacity 1.0s ease-out;
    -o-transition: opacity 1.0s ease-out;
    transition:  opacity 1.0s ease-out;
  }

  .swiper-main .main-slide.swiper-slide-active::before {
    opacity: 0;
  }

  .swiper-thumbs .thumb-slide {
    opacity: 0.4;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition:  opacity 0.5s ease;
  }

  .swiper-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
}
